:root {
  --bg-color-white: #fff;
  --bg-color-green: #245852;

  --color-white: #fff;
  --color-green: #016545;
  --color-black: #000;

  --button-border-radius: 10px;
  --button-hover-color: #00412c;

  --nav-font-color: #292929;
}

/* media breakpoints: 992px, 768px, 576px, 480px */
